<html>
    <body>
    <h1>Welcome {{ current_user.user_name }}</h1>
    <div class="user">
        <form action="/request_auth" method="get">
            <p>Click here to login to Yahoo!</p>
            <input type="submit" name="submit" value="Go to Yahoo!"/>
        </form>
    </div>
    <div class="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    </body>
</html>
